<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Search Tickets</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/main.css'>
</head>
<body>
    <div class="wrapper">
        <div class="header"><a href="/"><img src="/static/img/logo2.svg" width="500" height="500"></a></div>
        <div class="content">
            <form id="check-all" method="post" action="/results">
                <table id="search">
                    <tr>
                        <td><label>Откуда</label></td>
                        <td><label>Куда</label></td>
                        <td><label>Когда</label></td>
                        <td><label>Обратно</label></td>
                        <td><label>Пассажиры</label></td>
                        <td><label></label></td>
                    </tr>
                    <tr>
                    <form method="post" action="/results">
                        <td><select id="first-input" name="first-input"><option>Плесецк(Россия)</option><option>Байконур(Казахстан)</option><option>Капустин Яр(Россия)</option></select></td>
                        <td><select id="destination" name="destination"><option>Луна</option><option>МКС</option></select></td>
                        <td><input id="whento" name="whento" type="date" placeholder="Когда"></td>
                        <td><input id="whenback" name="whenback" type="date" placeholder="Обратно"></td>
                        <td>
                        <select id="last-input" name="last-input">
                        <option>1</option><option>2</option><option>3</option>
                        </select>
                        </td>
                        <td><button id="search-tickets" type="submit">Найти билеты</button></td>
                    </form>
                    </tr>
                </table>
            </form>
        </div>
        <div class="footer"><img src="/static/img/rights.svg" width="334" height="40"></div>
    </div>
</body>
</html>