<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/static/css/main.css'>
    <script src='main.js'></script>
</head>
<body>
    <div class="wrapper">
        <div class="header"><img src="/static/img/logo2.svg" width="500" height="500"></div>
        <div class="content">
        <table id="search">
            <tr>
                <td><input type="text" id="first-input" placeholder="Откуда"></td>
                <td><input type="text" placeholder="Куда"></td>
                <td><input type="text" placeholder="Когда"></td>
                <td><input type="text" placeholder="Обратно"></td>
                <td><select id="last-input"><option></option><option></option></select></td>
                <td><button id="search-tickets">Найти билеты</button></td>
            </tr>
        </table>
        </div>
        <div class="footer"><img src="/static/img/rights.svg" width="334" height="40"></div>
    </div>
</body>
</html>